In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

You have to work on the Dogs adoptions dataset.

It contains three files:

dogs.csv, shortly dogs
dogTravel.csv, shortly travels
NST-EST2021-POP.csv

Notes

- It is mandatory to use GitHub for developing the project.
- The project must be a jupyter notebook.
- There is no restriction on the libraries that can be used, nor on the Python version.
- All questions on the project must be asked in a public channel on Zulip.
- At most 3 students can be in each group. You must create the groups by yourself.
- You do not have to send me the project before the discussion.

## Sistemazione Dataset

In [2]:
dogs=pd.read_csv('dogs.csv')
dogOk=dogs
dogs[dogs['status']!="adoptable"].loc[:,'status':'accessed']

#il dataset presenta uno sfalsamento dei dati nelle righe
#che presumibilmente presentavano un valore null in corrispondenza della colonna status. I cani non adottabili.

,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed
644,2018-04-05T05:18:31+0000,Las Vegas,NV,89146,US,89009,2019-09-20,NaN
5549,2017-05-26T21:43:16+0000,Chandler,AZ,85249,US,AZ,2019-09-20,NaN
10888,2019-09-01T15:12:06+0000,Albany,NY,12220,US,CT,2019-09-20,NaN
11983,2019-08-06T12:15:58+0000,Albany,NY,12220,US,CT,2019-09-20,NaN
12495,2019-07-18T14:20:58+0000,Albany,NY,12220,US,CT,2019-09-20,NaN
12600,2019-07-11T20:34:42+0000,Saugerties,NY,12477,US,CT,2019-09-20,NaN
12613,2019-07-11T14:16:38+0000,Saugerties,NY,12477,US,CT,2019-09-20,NaN
17619,2019-08-10T16:00:35+0000,Bristow,VA,20136,US,DC,2019-09-20,NaN
18611,2019-05-14T21:09:27+0000,Silver Spring,MD,20905,US,DC,2019-09-20,NaN
19747,2016-12-15T13:33:43+0000,Gettysburg,PA,17325,US,DC,2019-09-20,NaN
19845,2015-09-07T12:57:27+0000,Gettysburg,PA,17325,US,DC,2019-09-20,NaN
22161,2018-07-05T00:55:08+0000,Media,PA,19063,US,DE,2019-09-20,NaN
22229,2017-10-07T23:48:20+0000,Feasterville,PA,19053,US,DE,2019-09-20,NaN
29283,2019-09-07T04:09:12+0000,Paris,IL,61944,US,IL,2019-09-20,NaN
30471,2019-09-13T19:39:28+0000,Mooresville,IN,46158,US,IN,2019-09-20,NaN
31581,2019-04-25T01:56:52+0000,Ross,OH,45061,US,IN,2019-09-20,NaN
31888,2018-04-18T13:45:46+0000,Ross,OH,45061,US,IN,2019-09-20,NaN
33000,2019-09-08T18:21:21+0000,Jeffersonville,IN,47131,US,KY,2019-09-20,NaN
33527,2019-07-25T19:53:21+0000,Cincinnati,OH,45249,US,KY,2019-09-20,NaN
34188,2015-06-29T23:58:09+0000,Paoli,IN,47454,US,KY,2019-09-20,NaN
35065,2015-02-07T13:06:43+0000,lake charles,LA,70601,US,LA,2019-09-20,NaN
44830,2019-09-20T01:50:51+0000,Albuquerque,NM,87108,US,NM,2019-09-20,NaN
53168,2019-02-18T12:02:48+0000,Cookeville,TN,38506,US,TN,2019-09-20,NaN
53539,2013-10-10T13:57:39+0000,Nashville,TN,37189,US,TN,2019-09-20,NaN
55434,2017-06-16T18:44:33+0000,Rustburg,VA,24588,US,VA,2019-09-20,NaN
55467,2015-12-25T12:28:30+0000,Midlothian,VA,23112,US,VA,2019-09-20,NaN
55915,2019-09-13T06:08:17+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN
55975,2019-09-10T16:43:35+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN
56013,2019-09-09T17:05:17+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN
56248,2019-08-24T16:32:31+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN
56464,2019-07-31T16:21:07+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN
56473,2019-07-29T21:50:16+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN
56541,2019-07-15T16:57:05+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN

In [4]:
listadrop=dogs[dogs['status']!='adoptable'].index
nondropped=dogs.drop(listadrop)
#dogs privato delle righe coi dati sfalsati

In [5]:
col_drop=['status', 'posted',
        'contact_city', 'contact_state', 'contact_zip', 'contact_country',
        'stateQ', 'accessed']
#colonne con dati sfalsati

In [6]:
dropped=dogOk[dogOk['status']!='adoptable']

#porzione di righe con dati sfalsati
#ho cambiato droppati e nondroppati

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,NV,89146,US,89009,2019-09-20,NaN,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,AZ,85249,US,AZ,2019-09-20,NaN,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,NY,12220,US,CT,2019-09-20,NaN,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,NY,12220,US,CT,2019-09-20,NaN,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,NY,12220,US,CT,2019-09-20,NaN,Dog,"â¢Basset Hound, female, â¢10 years \n\nDelig...",57,82.61

In [7]:
dropped[col_drop].head()

,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed
644,2018-04-05T05:18:31+0000,Las Vegas,NV,89146,US,89009,2019-09-20,NaN
5549,2017-05-26T21:43:16+0000,Chandler,AZ,85249,US,AZ,2019-09-20,NaN
10888,2019-09-01T15:12:06+0000,Albany,NY,12220,US,CT,2019-09-20,NaN
11983,2019-08-06T12:15:58+0000,Albany,NY,12220,US,CT,2019-09-20,NaN
12495,2019-07-18T14:20:58+0000,Albany,NY,12220,US,CT,2019-09-20,NaN

In [8]:
for i in range(1, len(col_drop)):
    dropped[col_drop[-i]]=dropped[col_drop[-i-1]]
# l'ultima colonna viene assegnata con i valori della colonna precendete

dropped[col_drop[0]]=list(['NaN']*len(dropped[col_drop[0]]))
#la prima colonna viene riempita con valori nulli

In [9]:
dogsOK=pd.concat([nondropped, dropped]) #df definitivo pulito

## 1. Extract all dogs with status that is not adoptable

In [11]:
dogsOK[dogsOK['status'] != 'adoptable']

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Las Vegas,NV,89146,US,89009,2019-09-20,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,Chandler,AZ,85249,US,AZ,2019-09-20,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"â¢Basset Hound, female, â¢10 years \n\nDelig...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,...,Bristow,VA,20136,US,DC,2019-09-20,Dog,This 10-year young senior is very sweet and lo...,76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,...,Silver Spring,MD,20905,US,DC,2019-09-20,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,...,Media,PA,19063,US,DE,2019-09-20,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,...,Feasterville,PA,19053,US,DE,2019-09-20,Dog,01.04.19\nHi Folks! Iâm Cozi and Iâm so gl...,88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,...,Paris,IL,61944,US,IL,2019-09-20,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,...,Mooresville,IN,46158,US,IN,2019-09-20,Dog,11 Berry Pups\nIndividual pics will be done. ...,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",...,Ross,OH,45061,US,IN,2019-09-20,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,...,Ross,OH,45061,US,IN,2019-09-20,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,...,Jeffersonville,IN,47131,US,KY,2019-09-20,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,...,Cincinnati,OH,45249,US,KY,2019-09-20,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,...,Paoli,IN,47454,US,KY,2019-09-20,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,...,lake charles,LA,70601,US,LA,2019-09-20,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,...,Albuquerque,NM,87108,US,NM,2019-09-20,Dog,We take the time to post pertinent information...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,...,Cookeville,TN,38506,US,TN,2019-09-20,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,...,Nashville,TN,37189,US,TN,2019-09-20,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,...,Rustburg,VA,24588,US,VA,2019-09-20,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,...,Midlothian,VA,23112,US,VA,2019-09-20,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
55915,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,For a quicker response please submit a online ...,102,338.18
55975,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
56013,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
56248,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
56464,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
56473,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
56541,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

## 2. For each (primary) breed, determine the number of dogs

In [12]:
dogsOK.groupby('breed_primary')['id'].count()

breed_primary
Affenpinscher                         17
Afghan Hound                           4
Airedale Terrier                      19
Akbash                                 3
Akita                                181
                                    ...
Wirehaired Pointing Griffon            1
Wirehaired Terrier                    60
Xoloitzcuintli / Mexican Hairless     11
Yellow Labrador Retriever            158
Yorkshire Terrier                    360
Name: id, Length: 216, dtype: int64

## 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed.

In [13]:
new_subs=dogsOK.groupby('breed_primary').count()
new_subs['Mixed']=dogsOK.groupby('breed_primary')['breed_secondary'].apply(lambda x: (x=='Mixed Breed').sum())
new_subs['NonMixed']=dogsOK.groupby('breed_primary')['breed_secondary'].apply(lambda x: (x!='Mixed Breed').sum())
new_subs['ratio']=new_subs['Mixed']/new_subs['NonMixed']
new_subs['ratio']

#per ogni primary breed abbiamo contato quanti cani hanno come secondary breed "Mixed Breed" 
#e quanti hanno altro (può essere un altra razza oppure anche solo un NaN). Abbiamo calcolato il rapporto.

#ho cambiato nuovo in new_subs

breed_primary
Affenpinscher                        0.062500
Afghan Hound                         0.000000
Airedale Terrier                     0.055556
Akbash                               0.000000
Akita                                0.034286
                                       ...
Wirehaired Pointing Griffon          0.000000
Wirehaired Terrier                   0.071429
Xoloitzcuintli / Mexican Hairless    0.000000
Yellow Labrador Retriever            0.000000
Yorkshire Terrier                    0.043478
Name: ratio, Length: 216, dtype: float64

In [14]:
a=len(dogsOK[(dogsOK['breed_primary']=='Wirehaired Terrier') & (dogsOK['breed_secondary']=='Mixed Breed')])
b=len(dogsOK[(dogsOK['breed_primary']=='Wirehaired Terrier') & (dogsOK['breed_secondary']!='Mixed Breed')])
a/b

#questo è solo per capire il ragionamento

0.07142857142857142

## 4. For each (primary) breed, determine the earliest and the latest posted timestamp.

In [15]:
dogsOK['posted_parsed']=pd.to_datetime(dogsOK['posted'], format  = '%Y-%m-%dT%H:%M:%S+0000')
#abbiamo parsato le date, creando una colonna ad hoc per la data in formato corretto

In [16]:
dogsOK.groupby('breed_primary').agg({'posted_parsed':['max', 'min']})

                                        posted_parsed
                                                  max                 min
breed_primary
Affenpinscher                     2019-09-14 10:10:51 2012-03-08 10:27:33
Afghan Hound                      2019-07-27 00:38:48 2017-06-29 23:28:51
Airedale Terrier                  2019-09-19 18:40:39 2014-06-13 12:59:36
Akbash                            2019-08-23 17:11:04 2019-07-21 00:35:59
Akita                             2019-09-20 15:19:57 2012-03-03 09:31:08
...                                               ...                 ...
Wirehaired Pointing Griffon       2016-06-29 20:03:55 2016-06-29 20:03:55
Wirehaired Terrier                2019-09-19 22:52:45 2012-11-27 14:07:54
Xoloitzcuintli / Mexican Hairless 2019-09-08 11:15:54 2007-02-01 00:00:00
Yellow Labrador Retriever         2019-09-20 06:30:27 2010-05-31 00:00:00
Yorkshire Terrier                 2019-09-20 16:56:38 2012-02-04 17:14:52

[216 rows x 2 columns]

## 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [73]:
sexx=dogsOK.groupby(['contact_state', 'sex'])['id'].count().reset_index()

sexx.drop(sexx.index[sexx['sex']=='Unknown'], axis=0, inplace=True)

In [74]:

sexx.loc[(sexx['sex']!='Female')&(sexx['sex']!='Male')]
#controlliamo che non ci siano cani con genere diverso da maschio o femmina

Empty DataFrame
Columns: [contact_state, sex, id]
Index: []

In [75]:
sexx.head()

  contact_state     sex   id
0            AK  Female    7
1            AK    Male    8
2            AL  Female  716
3            AL    Male  712
4            AR  Female  351

In [110]:
dogsSex=dogsOK.copy()
dogsSex['maschi'] = (dogsSex['sex'] == 'Male')
dogsSex['femmine'] = (dogsSex['sex'] == 'Female')

diff = pd.DataFrame()

diff['maschi'] = dogsSex.groupby('contact_state').sum()['maschi']
diff['femmine'] =  dogsSex.groupby('contact_state').sum()['femmine']

diff['differenza'] = diff['maschi']-diff['femmine']
diff['differenza']
diff

               maschi  femmine  differenza
contact_state
AK                  8        7           1
AL                712      716          -4
AR                344      351          -7
AZ               1181     1067         114
CA                887      777         110
CO                861      912         -51
CT                740      682          58
DC                160      176         -16
DE                148      148           0
FL               1380     1279         101
GA               1752     1727          25
HI                 41       28          13
IA                283      202          81
ID                 25       24           1
IL                608      507         101
IN               1029      851         178
KS                235      235           0
KY                616      507         109
LA                467      444          23
MA                487      459          28
MD                815      679         136
ME                258      287         -29
MI                356      317          39
MN                496      462          34
MO                495      425          70
MS                235      275         -40
MT                 11        7           4
NB                  1        1           0
NC               1345     1282          63
ND                 36       28           8
NE                 59       61          -2
NH                163      172          -9
NJ               1539     1483          56
NM                327      310          17
NV                456      402          54
NY               2062     1945         117
OH               1439     1234         205
OK                822      814           8
OR                 58       33          25
PA               1454     1371          83
QC                  7        7           0
RI                301      306          -5
SC                859      759         100
SD                 17        7          10
TN                945      826         119
TX                279      287          -8
UT                282      203          79
VA               1610     1451         159
VT                276      234          42
WA                686      598          88
WI                277      265          12
WV                333      232         101
WY                 31       21          10

## 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [27]:
dogsOK.groupby(['age','size']).agg({'stay_duration':'mean', 'stay_cost':'mean'})
#modo alternativo dogsOK.groupby(['age','size'])[['stay_duration','stay_cost']].mean()

                    stay_duration   stay_cost
age    size
Adult  Extra Large      89.015414  232.591561
       Large            89.531943  238.661141
       Medium           89.421036  238.258977
       Small            89.407479  238.974838
Baby   Extra Large      87.032967  237.180879
       Large            89.701564  238.698827
       Medium           89.577668  237.108131
       Small            89.958291  239.083810
Senior Extra Large      88.861111  235.232361
       Large            88.984298  237.507364
       Medium           89.810052  238.514615
       Small            89.073626  238.282286
Young  Extra Large      90.586345  245.835582
       Large            90.104206  238.149506
       Medium           89.515123  239.304603
       Small            89.814275  241.540069

## 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [ ]:
travel=pd.read_csv('dogTravel.csv')
travel.head()

In [29]:
travel['dog']=travel['id']

In [30]:
cond=travel.groupby(['dog'], as_index=False)['id'].count()
trav_dog=cond[cond['id']>2].reset_index()
#creiamo un groupby con per ogni cane il numero di viaggi,
#poi mettiamo nel dataframe trav_dog solo quelli con più di due viaggi

In [31]:
trav_dog.drop('index', axis=1, inplace=True)

In [32]:
trav_dog

          dog  id
0    16657005   4
1    20905974   5
2    24894870   4
3    24894894   4
4    33218331   7
..        ...  ..
558  46042569   3
559  46042587   3
560  46042618   3
561  46043099   3
562  46043149   3

[563 rows x 2 columns]

In [33]:
for e in trav_dog['dog']:
    trav_dog.loc[trav_dog['dog']==e, 'breed']=dogsOK.loc[dogsOK['id']==e]['breed_primary'].values[0]
#per ogni id di un cane, assegnamo nella colonna breed,
#la breed che nel dataset dogsOk viene assegnata al cane

trav_dog.rename(columns={"id": "n_travels"}, inplace=True)
trav_dog

          dog  n_travels               breed
0    16657005          4    Pit Bull Terrier
1    20905974          5           Chow Chow
2    24894870          4               Hound
3    24894894          4               Hound
4    33218331          7    Alaskan Malamute
..        ...        ...                 ...
558  46042569          3  Labrador Retriever
559  46042587          3  Labrador Retriever
560  46042618          3  Labrador Retriever
561  46043099          3  Labrador Retriever
562  46043149          3  Labrador Retriever

[563 rows x 3 columns]

## 8. Fix the travels table so that the correct state is computed from the manual and the found fields. If manual is not missing, then it overrides what is stored in found.

In [69]:
travel.loc[travel['manual'].notnull(), 'found']=travel['manual']

In [71]:
travel.head(10)

,index,id,contact_city,contact_state,description,found,manual,remove,still_there,dog
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN,44520267
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN,44698509
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN,45983838
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN,44475904
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN,43877389
5,5,43082511,Manchester,CT,Brooke has an unusual past. She was rescued f...,Afghanistan,NaN,NaN,NaN,43082511
6,6,45287347,Wooster,OH,"Tate is an adorable 2 year old, 22 pound Cocka...",Ohio,Ohio,NaN,NaN,45287347
7,7,45287347,Wooster,OH,"Tate is an adorable 2 year old, 22 pound Cocka...",Ohio,Ohio,NaN,NaN,45287347
8,8,45987719,Locust Fork,AL,Meet Trixie... she is a female 2yr. Old Chihua...,Alabama,NaN,NaN,NaN,45987719
9,9,45943086,Locust Fork,AL,"Meet Reba, a 2-year-old Dachshund with a sleek...",Alabama,NaN,NaN,NaN,45943086

## 9. For each state, compute the ratio between the number of travels and the population.

In [111]:
#population of each state
diff['population']=diff['femmine']+diff['maschi']
diff.head()

               maschi  femmine  differenza  population
contact_state
AK                  8        7           1          15
AL                712      716          -4        1428
AR                344      351          -7         695
AZ               1181     1067         114        2248
CA                887      777         110        1664

In [116]:
state_tr=travel.groupby(['contact_state'], as_index=False)['id'].count()
state_tr.rename(columns={"id": "tr_count"}, inplace=True)
state_tr.head()

  contact_state  tr_count
0            AL        75
1            AR        10
2            AZ        70
3            CA        28
4            CO       103

In [113]:
state_sex=diff.reset_index()
state_sex.head()

  contact_state  maschi  femmine  differenza  population
0            AK       8        7           1          15
1            AL     712      716          -4        1428
2            AR     344      351          -7         695
3            AZ    1181     1067         114        2248
4            CA     887      777         110        1664

In [117]:
res = pd.merge(state_sex, state_tr, on="contact_state")
res['tr_count/pop.']=res['tr_count']/res['population']

In [118]:
res

,contact_state,maschi,femmine,differenza,population,tr_count,tr_count/pop.
0,AL,712,716,-4,1428,75,0.052521
1,AR,344,351,-7,695,10,0.014388
2,AZ,1181,1067,114,2248,70,0.031139
3,CA,887,777,110,1664,28,0.016827
4,CO,861,912,-51,1773,103,0.058094
5,CT,740,682,58,1422,90,0.063291
6,DC,160,176,-16,336,112,0.333333
7,DE,148,148,0,296,57,0.192568
8,FL,1380,1279,101,2659,133,0.050019
9,GA,1752,1727,25,3479,109,0.031331
10,IA,283,202,81,485,22,0.045361
11,IL,608,507,101,1115,37,0.033184
12,IN,1029,851,178,1880,65,0.034574
13,KS,235,235,0,470,3,0.006383
14,KY,616,507,109,1123,31,0.027605
15,LA,467,444,23,911,5,0.005488
16,MA,487,459,28,946,107,0.113108
17,MD,815,679,136,1494,379,0.253681
18,ME,258,287,-29,545,361,0.662385
19,MI,356,317,39,673,67,0.099554
20,MN,496,462,34,958,190,0.198330
21,MO,495,425,70,920,42,0.045652
22,MS,235,275,-40,510,6,0.011765
23,NB,1,1,0,2,2,1.000000
24,NC,1345,1282,63,2627,187,0.071184
25,NH,163,172,-9,335,44,0.131343
26,NJ,1539,1483,56,3022,552,0.182660
27,NM,327,310,17,637,82,0.128728
28,NV,456,402,54,858,20,0.023310
29,NY,2062,1945,117,4007,490,0.122286
30,OH,1439,1234,205,2673,177,0.066218
31,OK,822,814,8,1636,31,0.018949
32,OR,58,33,25,91,32,0.351648
33,PA,1454,1371,83,2825,326,0.115398
34,RI,301,306,-5,607,130,0.214168
35,SC,859,759,100,1618,21,0.012979
36,TN,945,826,119,1771,112,0.063241
37,TX,279,287,-8,566,2,0.003534
38,UT,282,203,79,485,66,0.136082
39,VA,1610,1451,159,3061,1025,0.334858
40,VT,276,234,42,510,49,0.096078
41,WA,686,598,88,1284,634,0.493769
42,WI,277,265,12,542,83,0.153137
43,WV,333,232,101,565,27,0.047788

## 10. For each dog, compute the number of days from the posted day to the day of last access.

In [43]:
res_X=dogsOK.groupby(['id', 'accessed'], as_index=False).agg({'posted_parsed':'max'})
res_X.rename(columns={'accessed':'last_acc'}, inplace=True)
res_X

             id    last_acc       posted_parsed
0        604115  2019-09-20 2003-05-18 00:00:00
1       2592031  2019-09-20 2004-02-23 00:00:00
2       2613506  2019-09-20 2004-02-29 00:00:00
3       4527948  2019-09-20 2005-05-30 00:00:00
4       5142790  2019-09-20 2005-09-26 00:00:00
...         ...         ...                 ...
58175  46042881  2019-09-20 2019-09-20 17:20:30
58176  46042882  2019-09-20 2019-09-20 17:20:30
58177  46042883  2019-09-20 2019-09-20 17:20:30
58178  46043099  2019-09-20 2019-09-20 17:23:36
58179  46043149  2019-09-20 2019-09-20 17:32:30

[58180 rows x 3 columns]

In [119]:
res_X['last_acc']=pd.to_datetime(res_X['last_acc'], format='%Y-%m-%d')
res_X['posted_parsed']=res_X['posted_parsed'].dt.normalize()
res_X['diff']=res_X['last_acc']-res_X['posted_parsed']

In [45]:
res_X

             id   last_acc posted_parsed      diff
0        604115 2019-09-20    2003-05-18 5969 days
1       2592031 2019-09-20    2004-02-23 5688 days
2       2613506 2019-09-20    2004-02-29 5682 days
3       4527948 2019-09-20    2005-05-30 5226 days
4       5142790 2019-09-20    2005-09-26 5107 days
...         ...        ...           ...       ...
58175  46042881 2019-09-20    2019-09-20    0 days
58176  46042882 2019-09-20    2019-09-20    0 days
58177  46042883 2019-09-20    2019-09-20    0 days
58178  46043099 2019-09-20    2019-09-20    0 days
58179  46043149 2019-09-20    2019-09-20    0 days

[58180 rows x 4 columns]

## 11. Partition the dogs according to the number of weeks from the posted day to the day of last access.

In [46]:
res_X['weeks']=res_X['diff'].dt.days//7
res_X.groupby('weeks')['id'].apply(list).reset_index(name='ids')

     weeks                                                ids
0        0  [39878821, 45192040, 45703940, 45892869, 45938...
1        1  [45623261, 45740138, 45757464, 45765749, 45833...
2        2  [45552561, 45661687, 45749723, 45749935, 45755...
3        3  [45322313, 45494387, 45494402, 45600408, 45696...
4        4  [45360274, 45372662, 45405998, 45405999, 45529...
..     ...                                                ...
574    729                                          [5142790]
575    746                                          [4527948]
576    811                                          [2613506]
577    812                                          [2592031]
578    852                                           [604115]

[579 rows x 2 columns]

## 12. Find for duplicates in the dogs dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [47]:
from difflib import SequenceMatcher

In [48]:
dogs_id = dogsOK.reset_index()

In [49]:
def str_toset(string):
    sett1=set(string.split(' '))
    s1=sorted(s.strip(' .,:-"') for s in sett1)
    return s1

In [50]:
 def share_desc(stringa_1, stringa_2):
        st1=str_toset(stringa_1)
        st2=str_toset(stringa_2)
        val=0
        if len(st2)>len(st1):
            for e in st2:
                if e in st1:
                    val+=1
        else:
            for e in st1:
                if e in st2:
                    val+=1
        return val/min([len(st1), len(st2)])

In [51]:
def share_desc2(str1, str2):
    return SequenceMatcher(None, str1, str2).ratio()

In [123]:
#esempio di funzionamento della prima funzione

desc1=dogs_id.loc[dogs_id['id']==46040566, 'description'].values[0]
desc2=dogs_id.loc[dogs_id['id']==46023195, 'description'].values[0]
print(desc1, "\n","\n","\n", desc2)
share_desc2(desc1, desc2)

!!! Located at ACCT Philly, 111 W Hunting Park Avenue, Philadelphia PA !!!This animal may be available through ACCT Philly's Adoption Program. As this pet goes through the shelter processes, medical and behavior information are updated here! They may become specially promoted for Events or our Adoptions Programs, or may require transfer through our Love Local ProgramTo view our list of adoptable animals, please visit http://www.acctphilly.org/adopt/.To learn more about our Love Local Program, please visit http://www.acctphilly.org/programs/lovelocal/.Is this your missing pet? If you believe so, please make sure to follow the instructions listed at http://www.acctphilly.org/lostpet/ so that we can make sure that you are reunited as soon as possible! as more information is known.We are the Animal Control facility for Philadelphia, and we are open for adoption, foster and rescue placement Monday through Friday from 1pm to 7pm, Weekends and Holidays from 10 am to 5pm.


 !!! Located at ACCT Philly, 111 W Hunting Park Avenue, Philadelphia PA !!!This animal may be available through ACCT Philly's Adoption Program. As this pet goes through the shelter processes, medical and behavior information are updated here! They may become specially promoted for Events or our Adoptions Programs, or may require transfer through our Love Local ProgramTo view our list of adoptable animals, please visit http://www.acctphilly.org/adopt/.To learn more about our Love Local Program, please visit http://www.acctphilly.org/programs/lovelocal/.Is this your missing pet? If you believe so, please make sure to follow the instructions listed at http://www.acctphilly.org/lostpet/ so that we can make sure that you are reunited as soon as possible! as more information is known.We are the Animal Control facility for Philadelphia, and we are open for adoption, foster and rescue placement Monday through Friday from 1pm to 7pm, Weekends and Holidays from 10 am to 5pm.

1.0

In [124]:
#esempio di funzionamento della seconda funzione

s = SequenceMatcher(None, desc1, desc2)
print(desc1, "\n","\n","\n", desc2)
s.ratio()

!!! Located at ACCT Philly, 111 W Hunting Park Avenue, Philadelphia PA !!!This animal may be available through ACCT Philly's Adoption Program. As this pet goes through the shelter processes, medical and behavior information are updated here! They may become specially promoted for Events or our Adoptions Programs, or may require transfer through our Love Local ProgramTo view our list of adoptable animals, please visit http://www.acctphilly.org/adopt/.To learn more about our Love Local Program, please visit http://www.acctphilly.org/programs/lovelocal/.Is this your missing pet? If you believe so, please make sure to follow the instructions listed at http://www.acctphilly.org/lostpet/ so that we can make sure that you are reunited as soon as possible! as more information is known.We are the Animal Control facility for Philadelphia, and we are open for adoption, foster and rescue placement Monday through Friday from 1pm to 7pm, Weekends and Holidays from 10 am to 5pm.


 !!! Located at ACCT Philly, 111 W Hunting Park Avenue, Philadelphia PA !!!This animal may be available through ACCT Philly's Adoption Program. As this pet goes through the shelter processes, medical and behavior information are updated here! They may become specially promoted for Events or our Adoptions Programs, or may require transfer through our Love Local ProgramTo view our list of adoptable animals, please visit http://www.acctphilly.org/adopt/.To learn more about our Love Local Program, please visit http://www.acctphilly.org/programs/lovelocal/.Is this your missing pet? If you believe so, please make sure to follow the instructions listed at http://www.acctphilly.org/lostpet/ so that we can make sure that you are reunited as soon as possible! as more information is known.We are the Animal Control facility for Philadelphia, and we are open for adoption, foster and rescue placement Monday through Friday from 1pm to 7pm, Weekends and Holidays from 10 am to 5pm.

1.0

In [54]:
def same_dog(id1, id2):
    desc1=dogs_id.loc[dogs_id['id']==id1, 'description'].values[0]
    desc2=dogs_id.loc[dogs_id['id']==id2, 'description'].values[0]
    
    if (type(desc1)!=type('')) | (type(desc2)!=type('')):
        return False
    else:
        pt = share_desc2(desc1, desc2)
        if pt >= 0.9:
            return True
        else:
            return False

In [55]:
s=set()
d=dict()
dupl=set() #non serve
d_dupl=dict()

for index, row in dogs_id.iterrows():
    p_brd, s_brd, sex = row['breed_primary'], row['breed_secondary'], row['sex']
    if ((p_brd, s_brd, sex) not in s) | ((s_brd, p_brd, sex) not in s) :
        s.add((p_brd, s_brd, sex))
        d[(p_brd, s_brd, sex)]=[row['id']]
    else:
        dupl.add((p_brd, s_brd, sex)) #non serve
        d[(p_brd, s_brd, sex)].append(row['id'])

for el in d:
     if len(d[el])>1:
        d_dupl[el]=d[el] 
#ho creato un dizionario con per ogni tripletta (prim. breed, sec. breed, sex) che abbia un duplicato all'interno del df,
#associa i cani che hanno queste due breed e stesso sex

In [56]:
def find_dupl(tripla):
    i=1
    lun=len(d_dupl[tripla])
    #br_pr, br_sec, sex = tripla
    for id_1 in d_dupl[tripla][:lun-1]:
        for id_2 in d_dupl[tripla][i:]:
            if id_1!=id_2:  #non serve
                if same_dog(id_1, id_2):
                    l.append((id_1, id_2))
        i+=1

In [57]:
dogs_id.loc[dogs_id['id']==46035154, 'sex'].values[0]

'Female'

In [58]:
ll=len(d_dupl[('Pug', 'Mixed Breed', 'Male')])

In [59]:
x=1
for id_1 in d_dupl[('Pug', 'Mixed Breed', 'Male')][:ll-1]:
    for id_2 in d_dupl[('Pug', 'Mixed Breed', 'Male')][x:]:
        print(id_1,id_2)
    x+=1

45811547 45900731
45811547 45751789
45900731 45751789

In [60]:
import time
#versione del modello di iterazione non aggiornata
l=[]
start_time = time.time()
for id_1 in d_dupl[('Shepherd', 'Border Collie', 'Female')]:
    for id_2 in d_dupl[('Shepherd', 'Border Collie', 'Female')]:
        if id_1!=id_2:
            print(id_1,id_2)
            if same_dog(id_1, id_2):
                print('ok')
                l.append((id_1, id_2))

print(l) #è vuota perchè non ci sono duplicati

print("--- %s seconds ---" % (time.time() - start_time))

46037951 45983717
46037951 44274328
46037951 43123618
46037951 46027920
45983717 46037951
45983717 44274328
45983717 43123618
45983717 46027920
44274328 46037951
44274328 45983717
44274328 43123618
44274328 46027920
43123618 46037951
43123618 45983717
43123618 44274328
43123618 46027920
46027920 46037951
46027920 45983717
46027920 44274328
46027920 43123618
[]
--- 0.1380162239074707 seconds ---

In [61]:
same_dog(46037951,45983717)

False

In [62]:
l=[]
start_time = time.time()
for a in d_dupl:
    find_dupl(a)
print("--- %s seconds ---" % (time.time() - start_time))

--- 1849.241730928421 seconds ---

In [63]:
l

[(46040566, 46023195),
 (46040566, 45989613),
 (46040566, 45980696),
 (46040566, 45973853),
 (46040566, 45971972),
 (46040566, 45919237),
 (46040566, 45906293),
 (46040566, 45900136),
 (46040566, 45881305),
 (46040566, 45840373),
 (46023195, 45989613),
 (46023195, 45980696),
 (46023195, 45973853),
 (46023195, 45971972),
 (46023195, 45919237),
 (46023195, 45906293),
 (46023195, 45900136),
 (46023195, 45881305),
 (46023195, 45840373),
 (45989613, 45980696),
 (45989613, 45973853),
 (45989613, 45971972),
 (45989613, 45919237),
 (45989613, 45906293),
 (45989613, 45900136),
 (45989613, 45881305),
 (45989613, 45840373),
 (45980696, 45973853),
 (45980696, 45971972),
 (45980696, 45919237),
 (45980696, 45906293),
 (45980696, 45900136),
 (45980696, 45881305),
 (45980696, 45840373),
 (45973853, 45971972),
 (45973853, 45919237),
 (45973853, 45906293),
 (45973853, 45900136),
 (45973853, 45881305),
 (45973853, 45840373),
 (45971972, 45919237),
 (45971972, 45906293),
 (45971972, 45900136),
 (45971972, 45881305),
 (45971972, 45840373),
 (45919237, 45906293),
 (45919237, 45900136),
 (45919237, 45881305),
 (45919237, 45840373),
 (45906293, 45900136),
 (45906293, 45840373),
 (45900136, 45881305),
 (45900136, 45840373),
 (45881305, 45840373),
 (45912049, 45912050),
 (45912049, 45912052),
 (45912049, 45871844),
 (45912049, 45871841),
 (45912050, 45912052),
 (45912050, 45871844),
 (45912050, 45871841),
 (45912052, 45871844),
 (45912052, 45871841),
 (45871844, 45871841),
 (45970418, 45858501),
 (45970418, 45858489),
 (45970418, 45823212),
 (45970418, 45823197),
 (45858501, 45858489),
 (45858501, 45823212),
 (45858501, 45823197),
 (45858489, 45823212),
 (45858489, 45823197),
 (45823212, 45823197),
 (46022415, 46012492),
 (45923586, 45923565),
 (45838138, 45838111),
 (45796159, 45639512),
 (46024600, 45963580),
 (46024600, 45733561),
 (45963580, 45733561),
 (46033027, 46032402),
 (46033027, 46020625),
 (46033027, 46020624),
 (46033027, 46020627),
 (46033027, 45987293),
 (46033027, 45981523),
 (46033027, 45962189),
 (46033027, 45956328),
 (46033027, 45921326),
 (46032402, 46020625),
 (46032402, 46020624),
 (46032402, 46020627),
 (46032402, 45987293),
 (46032402, 45981523),
 (46032402, 45962189),
 (46032402, 45956328),
 (46032402, 45921326),
 (46020625, 46020624),
 (46020625, 46020627),
 (46020625, 45987293),
 (46020625, 45981523),
 (46020625, 45962189),
 (46020625, 45956328),
 (46020625, 45921326),
 (46020624, 46020627),
 (46020624, 45987293),
 (46020624, 45981523),
 (46020624, 45962189),
 (46020624, 45956328),
 (46020624, 45921326),
 (46020627, 45987293),
 (46020627, 45981523),
 (46020627, 45962189),
 (46020627, 45956328),
 (46020627, 45921326),
 (45987293, 45981523),
 (45987293, 45962189),
 (45987293, 45956328),
 (45987293, 45921326),
 (45981523, 45962189),
 (45981523, 45956328),
 (45981523, 45921326),
 (45962189, 45956328),
 (45962189, 45921326),
 (45956328, 45921326),
 (45912045, 45912046),
 (45912045, 45912053),
 (45912045, 45912054),
 (45912046, 45912053),
 (45912046, 45912054),
 (45912053, 45912054),
 (45188874, 45188309),
 (45799255, 45799254),
 (46033174, 45788576),
 (46033174, 45450382),
 (46033174, 45445756),
 (46033174, 45445757),
 (45788576, 45450382),
 (45788576, 45445756),
 (45788576, 45445757),
 (45450382, 45445756),
 (45450382, 45445757),
 (45445756, 45445757),
 (45820378, 45820429),
 (45914976, 45914975),
 (45788362, 45788237),
 (45788362, 45788153),
 (45788362, 45788139),
 (45788362, 45788054),
 (45788362, 45778941),
 (45788237, 45788153),
 (45788237, 45788139),
 (45788237, 45788054),
 (45788237, 45778941),
 (45788153, 45788139),
 (45788153, 45788054),
 (45788153, 45778941),
 (45788139, 45788054),
 (45788139, 45778941),
 (45788054, 45778941),
 (45788216, 45778819),
 (46025304, 40230942),
 (45525100, 45525094),
 (45807783, 45807792),
 (45887971, 45887961),
 (45887971, 45887950),
 (45887961, 45887950),
 (46014103, 46014105),
 (46014103, 46014104),
 (46014105, 46014104),
 (45789535, 45789536),
 (46022947, 46021150),
 (46019465, 45800396),
 (46037850, 45882733),
 (45801842, 45801850),
 (45940519, 45940501),
 (45940519, 45940266),
 (45940519, 45940220),
 (45940501, 45940266),
 (45940501, 45940220),
 (45940266, 45940220),
 (45768251, 45768248),
 (45905209, 45905207),
 (45182449, 45174934),
 (45182449, 45174921),
 (45384574, 45384580),
 (45717652, 45717641),
 (45521864, 45521701),
 (45174934, 45174921),
 (40568901, 40568893),
 (39409275, 39409092),
 (45964140, 45964112),
 (45964140, 45964099),
 (45964112, 45964099),
 (45956415, 45956106),
 (45904433, 45579896),
 (45579896, 45579897),
 (45613844, 45613978),
 (45905205, 45905206),
 (45905205, 45896993),
 (45905205, 45896987),
 (45905205, 45896989),
 (45905206, 45896993),
 (45905206, 45896987),
 (45905206, 45896989),
 (45896993, 45896987),
 (45896993, 45896989),
 (45896987, 45896989),
 (46015571, 46015574),
 (46015571, 46015573),
 (46015571, 46015572),
 (46015574, 46015573),
 (46015574, 46015572),
 (46015573, 46015572),
 (45861182, 45846068),
 (45861182, 45846062),
 (45846068, 45846062),
 (45601674, 45601636),
 (45601674, 45601618),
 (45601636, 45601618),
 (46040506, 46040499),
 (46040506, 46010688),
 (46040506, 46010637),
 (46040499, 46010688),
 (46040499, 46010637),
 (46010688, 46010637),
 (44805862, 44805844),
 (44805862, 44805839),
 (44805844, 44805839),
 (45924226, 45924220),
 (46006377, 45895436),
 (46006377, 45895403),
 (45895436, 45895403),
 (45578504, 45578440),
 (45578504, 45578378),
 (45578440, 45578378),
 (45938590, 45938589),
 (45938590, 45938574),
 (45938589, 45938574),
 (45874470, 45874469),
 (46037425, 46020465),
 (45929890, 45929889),
 (45929890, 45929881),
 (45929890, 45875417),
 (45929889, 45929881),
 (45929889, 45875417),
 (45929881, 45875417),
 (45970417, 45823213),
 (45970417, 45823211),
 (45823213, 45823211),
 (45983741, 45983727),
 (45983741, 45983696),
 (45983741, 45983677),
 (45983727, 45983696),
 (45983727, 45983677),
 (45983696, 45983677),
 (38323312, 26334883),
 (38308129, 34531585),
 (38447591, 35596656),
 (45571287, 45571242),
 (45571287, 45570936),
 (45979528, 45979525),
 (45571242, 45570936),
 (45955650, 45955638),
 (45955650, 45955633),
 (45955638, 45955633),
 (44815214, 44815165),
 (44815214, 44814855),
 (44815165, 44814855),
 (46040139, 46040125),
 (46040139, 46040136),
 (46040125, 46040136),
 (45484100, 45484099),
 (45921878, 45921862),
 (45921878, 45921817),
 (45921862, 45921817),
 (45911140, 45911133),
 (45911140, 45911125),
 (45911140, 45911112),
 (45911133, 45911125),
 (45911133, 45911112),
 (45911125, 45911112),
 (44991189, 44991193),
 (38598398, 18945953),
 (45851946, 45851313),
 (45697212, 45696915),
 (46028329, 45985438),
 (45906745, 45906445),
 (45906745, 45906397),
 (45906445, 45906397),
 (45766362, 45766287),
 (45912004, 45886399),
 (45912004, 45027431),
 (45886399, 45027431),
 (45774714, 45774709),
 (46038492, 46038535),
 (46021542, 46021529),
 (45831371, 45831331),
 (45896878, 45896880),
 (45896878, 45885169),
 (45896880, 45885169),
 (46033113, 46033112),
 (46033113, 46033114),
 (46033112, 46033114),
 (45816905, 45816915),
 (45816905, 45816933),
 (45816905, 45816934),
 (45816915, 45816933),
 (45816915, 45816934),
 (45816933, 45816934),
 (43156123, 43156211),
 (37794968, 37794964),
 (45942444, 45942427),
 (45942444, 45942374),
 (45942427, 45942374),
 (45906349, 45906322),
 (45766360, 45766364),
 (45979145, 45979143),
 (45979145, 45979121),
 (45979145, 45979060),
 (45979143, 45979121),
 (45979143, 45979060),
 (45979121, 45979060),
 (44925927, 44925831),
 (45621926, 45621927),
 (45596728, 45583580),
 (45596728, 45596351),
 (45596728, 45583504),
 (45596728, 45596342),
 (45596728, 45583450),
 (45583580, 45596351),
 (45583580, 45583504),
 (45583580, 45596342),
 (45583580, 45583450),
 (45983716, 45983714),
 (45596351, 45583504),
 (45596351, 45596342),
 (45596351, 45583450),
 (45583504, 45596342),
 (45583504, 45583450),
 (45554172, 45554124),
 (45596342, 45583450),
 (45974971, 45873059),
 (45873994, 45678739),
 (46040122, 46040131),
 (46040122, 46040138),
 (46040122, 46040130),
 (46040122, 46040137),
 (46040131, 46040138),
 (46040131, 46040130),
 (46040131, 46040137),
 (46040138, 46040130),
 (46040138, 46040137),
 (46040130, 46040137),
 (45806320, 45806322),
 (45806320, 45806321),
 (45806322, 45806321),
 (45911233, 45911180),
 (45911233, 45911175),
 (45911180, 45911175),
 (45604710, 45604702),
 (45831402, 45831366),
 (45823144, 45823146),
 (45277687, 45277667),
 (45765704, 45765703),
 (45765704, 45765701),
 (45765703, 45765701),
 (44680134, 44680135),
 (46005452, 46005422),
 (45959307, 45959310),
 (45959307, 45959312),
 (45959307, 45947454),
 (45959310, 45959312),
 (45959310, 45947454),
 (45959312, 45947454),
 (46022997, 46018959),
 (45838227, 45838196),
 (45038425, 45037504),
 (45965606, 45964752),
 (45942459, 45942311),
 (45942459, 45942234),
 (45956484, 45956365),
 (45942254, 45942252),
 (45942254, 45942242),
 (45942254, 45942226),
 (45942254, 45942211),
 (45942252, 45942242),
 (45942252, 45942226),
 (45942252, 45942211),
 (45942242, 45942226),
 (45942242, 45942211),
 (45942226, 45942211),
 (45713370, 45980381),
 (45713370, 45980363),
 (45496570, 45496523),
 (45942311, 45942234),
 (46009769, 46009644),
 (46009769, 46006007),
 (46009644, 46006056),
 (46009644, 46006007),
 (46006081, 46006056),
 (46006056, 46006007),
 (45627251, 45626155),
 (45980381, 45980363),
 (46040124, 45978662),
 (45934441, 45934366),
 (45942135, 45942085),
 (41469511, 41469289),
 (33704637, 33704632),
 (45833873, 45833853),
 (45743606, 45743583),
 (37528714, 37458331),
 (45341851, 45333832),
 (46033116, 46033117),
 (45990842, 45990836),
 (45990842, 45990813),
 (45990836, 45990813),
 (45704612, 45698944),
 (46033535, 46033534),
 (46033535, 46033532),
 (46033535, 46033531),
 (46033535, 46033530),
 (46033535, 46033533),
 (46033534, 46033532),
 (46033534, 46033531),
 (46033534, 46033530),
 (46033534, 46033533),
 (46033532, 46033531),
 (46033532, 46033530),
 (46033532, 46033533),
 (46033531, 46033530),
 (46033531, 46033533),
 (46033530, 46033533),
 (45929782, 45929726),
 (44914912, 44914837),
 (45790474, 45250111),
 (44351986, 44351980),
 (44351986, 44351981),
 (44351986, 39877896),
 (44351980, 44351981),
 (45753543, 45753644),
 (45601608, 45601590),
 (45612351, 44682489),
 (46036810, 46036768),
 (46036810, 46015289),
 (46036768, 46015289),
 (37795059, 37795057),
 (45946873, 45946816),
 (45633840, 43477359),
 (45934839, 45934830),
 (45105047, 45090568),
 (45105047, 45090373),
 (38184219, 38184218),
 (45090568, 45090373),
 (45735025, 45734955),
 (45735025, 45734907),
 (45734955, 45734907),
 (45887942, 45843398),
 (45887942, 45715374),
 (45887942, 43438831),
 (45843398, 45715374),
 (45843398, 43438831),
 (45715374, 43438831),
 (45978298, 45978292),
 (45494936, 45041064),
 (45734891, 45734834),
 (45734891, 45734825),
 (45734834, 45734825),
 (45794028, 45793926),
 (44977541, 46007783),
 (36509038, 33635810),
 (45554169, 45554165),
 (45916205, 45915165),
 (45916205, 45915008),
 (45915165, 45915008),
 (45988964, 45988966),
 (45650674, 44397546),
 (45301676, 44696946),
 (41553046, 41553516),
 (45918916, 45917957),
 (24695363, 24693691),
 (38308175, 37568993),
 (45910130, 45910118),
 (45948825, 45948797),
 (45948825, 46011273),
 (45948825, 46011178),
 (45948797, 46011273),
 (45948797, 46011178),
 (45948795, 46011172),
 (46011273, 46011178),
 (45792436, 45792434),
 (45792436, 45792432),
 (45792434, 45792432),
 (45858490, 45823187),
 (46022595, 46022598),
 (46005148, 30508973),
 (45954311, 45929884),
 (45954311, 45929885),
 (45954311, 45929887),
 (45954311, 45929891),
 (45954311, 45929192),
 (45929884, 45929885),
 (45929884, 45929887),
 (45929884, 45929891),
 (45929884, 45929192),
 (45929885, 45929887),
 (45929885, 45929891),
 (45929885, 45929192),
 (45929887, 45929891),
 (45929887, 45929192),
 (45929891, 45929192),
 (45885331, 45823226),
 (45885331, 45823195),
 (45885331, 45823185),
 (45823226, 45823195),
 (45823226, 45823185),
 (45823195, 45823185),
 (45668362, 45668359),
 (45668362, 45668358),
 (45668359, 45668358),
 (38101306, 38101301),
 (38101306, 38101299),
 (38101301, 38101299),
 (46034284, 45893444),
 (45961647, 45961565),
 (45961647, 45961158),
 (45985136, 45948821),
 (45985136, 45948800),
 (45985136, 46011225),
 (45985136, 46011205),
 (45948822, 45948800),
 (45948822, 45948751),
 (45948822, 46011240),
 (45948822, 46011205),
 (45948822, 46011165),
 (45948821, 45948800),
 (45948821, 46011225),
 (45948821, 46011205),
 (45948800, 46011225),
 (45948800, 46011205),
 (45948751, 46011240),
 (45948751, 46011225),
 (45948751, 46011205),
 (45948751, 46011165),
 (46011240, 46011205),
 (46011240, 46011165),
 (46011225, 46011205),
 (46012054, 46011509),
 (45493361, 45742221),
 (45493361, 45742210),
 (45946390, 45946352),
 (45978261, 45978259),
 (45742221, 45742210),
 (45678732, 45678678),
 (38294746, 38294747),
 (38294745, 38294747),
 (46017445, 46017443),
 (45257329, 44635976),
 (45796951, 45786787),
 (45823073, 45823023),
 (45877991, 45877978),
 (45877991, 45877972),
 (45877991, 45877953),
 (45877978, 45877972),
 (45877978, 45877953),
 (45877972, 45877953),
 (45930514, 45930289),
 (45777851, 45777830),
 (45777851, 45777759),
 (45777830, 45777759),
 (38101294, 37795055),
 (38101294, 37490861),
 (45961612, 45961507),
 (45436574, 45436576),
 (45734880, 45734691),
 (45712106, 45712066),
 (45712106, 45711639),
 (45712066, 45711639),
 (45976939, 45976893),
 (45769224, 45671146),
 (43819592, 43819626),
 (45733110, 45732409),
 (45765784, 45765785),
 (45765784, 45765706),
 (45765784, 45765705),
 (45765785, 45765706),
 (45765785, 45765705),
 (45765706, 45765705),
 (45942794, 45942792),
 (45182452, 45175036),
 (45182452, 45175024),
 (45175036, 45175024),
 (45910183, 45910171),
 (45854559, 45854557),
 (45810963, 45810931),
 (45810963, 45810975),
 (45810931, 45810975),
 (46015658, 46015636),
 (46015154, 45907356),
 (46015154, 45907358),
 (45907356, 45907358),
 (45823124, 45823161),
 (45726513, 45726017),
 (38447570, 33715408),
 (45758856, 45758829),
 (45569788, 45569541),
 (45509606, 45509469),
 (46010376, 46010357),
 (45747619, 45191670),
 (45916456, 45916450),
 (45916456, 45916444),
 (45916456, 45916438),
 (45916456, 45916436),
 (45916456, 45916426),
 (45916450, 45916444),
 (45916450, 45916438),
 (45916450, 45916436),
 (45916450, 45916426),
 (45916444, 45916438),
 (45916444, 45916436),
 (45916444, 45916426),
 (45916438, 45916436),
 (45916438, 45916426),
 (45916436, 45916426),
 (44991147, 44991151),
 (45983503, 45919601),
 (46039173, 46039171),
 (44951332, 44951304),
 (46011730, 45968032),
 (44386496, 44386456),
 (46041976, 46009243),
 (46041976, 45899384),
 (46041976, 45860586),
 (46041976, 45859900),
 (46009243, 45899384),
 (46009243, 45860586),
 (46009243, 45859900),
 (45899384, 45860586),
 (45899384, 45859900),
 (45860586, 45859900),
 (45168511, 45161580),
 (45168511, 45161364),
 (45161580, 45161364),
 (46015671, 46015633),
 (46015671, 46015626),
 (46015671, 46015441),
 (46015633, 46015626),
 (46015633, 46015441),
 (46015626, 46015441),
 (45907736, 45907357),
 (45907736, 45907355),
 (45907357, 45907355),
 (45807746, 45807778),
 (45886372, 45886367),
 (45886372, 45886341),
 (46023642, 46023606),
 (41303812, 41303385),
 (37539135, 37539122),
 (45886367, 45886341),
 (44204368, 44204202),
 (46018260, 46018257),
 (46023785, 46023776),
 (45816902, 45816903),
 (45158804, 45157825),
 (46019476, 45929235),
 (45966160, 45965433),
 (45966160, 45940419),
 (45966160, 45940417),
 (45966160, 45888887),
 (45965433, 45940419),
 (45965433, 45940417),
 (45965433, 45888887),
 (45940419, 45940417),
 (45940419, 45888887),
 (45940417, 45888887),
 (46025249, 45419561),
 (45891118, 45270764),
 (45814396, 45814356),
 (46014068, 46014001),
 (45956454, 45956440),
 (45711587, 45711576),
 (45705154, 45705153),
 (45986379, 45986367),
 (45986379, 45986335),
 (45986379, 45986230),
 (45986367, 45986335),
 (45986367, 45986230),
 (45986335, 45986230),
 (45852591, 45852550),
 (45627296, 45627275),
 (46009514, 46008334),
 (46040132, 46040133),
 (46040132, 46040135),
 (46040132, 46040134),
 (46040132, 46040128),
 (46040132, 46040127),
 (46040132, 45978663),
 (46040133, 46040135),
 (46040133, 46040134),
 (46040133, 46040128),
 (46040133, 46040127),
 (46040133, 45978663),
 (46040135, 46040134),
 (46040135, 46040128),
 (46040135, 46040127),
 (46040135, 45978663),
 (46040134, 46040128),
 (46040134, 46040127),
 (46040134, 45978663),
 (46040128, 46040127),
 (46040128, 45978663),
 (46040127, 45978663),
 (45979119, 45978906),
 (45979119, 45978907),
 (45979119, 45978878),
 (45978906, 45978907),
 (45978906, 45978878),
 (45978907, 45978878),
 (45974505, 45974479),
 (45816925, 45816932),
 (45501584, 45501566),
 (45501584, 45501542),
 (45501566, 45501542),
 (45599084, 45594159),
 (46019164, 46019155),
 (46019164, 46019140),
 (46019164, 46019129),
 (46019164, 46019109),
 (46019155, 46019140),
 (46019155, 46019129),
 (46019155, 46019109),
 (46019140, 46019129),
 (46019140, 46019109),
 (46019129, 46019109),
 (45881059, 45881014),
 (45962008, 45961749),
 (45959940, 45959939),
 (45966071, 45965776),
 (45505339, 45505302),
 (41010932, 41010864),
 (46009248, 45940418),
 (46009248, 45860587),
 (46009248, 45859898),
 (46009248, 45798168),
 (46009248, 44950525),
 (45940418, 45860587),
 (45940418, 45859898),
 (45940418, 45798168),
 (45940418, 44950525),
 (45860587, 45859898),
 (45860587, 45798168),
 (45860587, 44950525),
 (45859898, 45798168),
 (45859898, 44950525),
 (45798168, 44950525),
 (45986231, 45930002),
 (45986231, 45929999),
 (45930002, 45929999),
 (46035038, 46035032),
 (45758607, 45758590),
 (45554432, 45554252),
 (45960926, 45960816),
 (45867668, 45867663),
 (45867668, 45867649),
 (45867668, 45867628),
 (45867668, 45867627),
 (45867663, 45867649),
 (45867663, 45867628),
 (45867663, 45867627),
 (45867649, 45867628),
 (45867649, 45867627),
 (45867628, 45867627),
 (44797887, 44797875),
 (40971365, 40970940),
 (45670751, 45665082),
 (45340773, 45340766),
 (32706108, 32706003),
 (45816906, 45816913),
 (44863232, 44519370),
 (44863232, 43945211),
 (44519370, 43945211),
 (46019688, 46019685),
 (46019688, 46019666),
 (46019688, 45929212),
 (46019685, 46019666),
 (46019685, 45929212),
 (46019666, 45929212),
 (35303974, 35303855),
 (46029091, 46029090),
 (40632464, 40580131),
 (45860103, 45860063),
 (45087088, 45087096),
 (44991275, 44991279),
 (45831358, 45831428),
 (45763681, 45763680),
 (45763681, 45763677),
 (45763681, 45763678),
 (45763681, 45763676),
 (45763680, 45763677),
 (45763680, 45763678),
 (45763680, 45763676),
 (45763677, 45763678),
 (45763677, 45763676),
 (45763678, 45763676),
 (44846619, 44846611),
 (46002010, 46000668),
 (45969218, 45969205),
 (45264206, 45264202),
 (45886232, 45886201),
 (45864238, 45864102),
 (45852503, 45852474),
 (45851317, 45851302),
 (45210244, 45210229),
 (45664622, 45664578),
 (45744591, 45743752),
 (45711640, 45711609),
 (45788263, 45752255),
 (46013592, 46013532),
 (45687691, 45687689),
 (45724271, 45724223),
 (45735981, 45735782),
 (45735981, 45735578),
 (45735782, 45735578),
 (45295935, 45295923),
 (45938583, 45938587),
 (45564754, 45564738),
 (45564754, 45564338),
 (45564738, 45564338),
 (34973159, 34933277),
 (46009940, 46009939),
 (45958024, 45957955),
 (45954990, 45954989),
 (45954990, 45954993),
 (45954990, 45954994),
 (45954989, 45954993),
 (45954989, 45954994),
 (45954993, 45954994),
 (45794951, 45794952),
 (45844216, 45844189),
 (45403745, 45396391),
 (45403745, 45396387),
 (45396391, 45396387),
 (46005519, 46005473),
 (46005519, 46005456),
 (46005519, 46005439),
 (46005473, 46005456),
 (46005473, 46005439),
 (46005456, 46005439),
 (45630135, 45629697),
 (45630135, 45629667),
 (45629697, 45629667),
 (45295174, 45295090),
 (45983350, 45983342),
 (45300758, 45300755),
 (45831312, 45831443),
 (37139483, 37139489),
 (45910820, 45910807),
 (45389196, 45389189),
 (44760792, 44580857),
 (44887700, 44887689),
 (44887700, 44887674),
 (44887700, 44886550),
 (44887700, 44886404),
 (44887700, 44884549),
 (44887700, 44883909),
 (44887689, 44887674),
 (44887689, 44886550),
 (44887689, 44886404),

In [64]:
sett=str_toset(dogs_id[dogs_id['id']==46040566]['description'].values[0])
print(dogs_id[dogs_id['id']==46040566]['description'].values[0])
print(sett)

!!! Located at ACCT Philly, 111 W Hunting Park Avenue, Philadelphia PA !!!This animal may be available through ACCT Philly's Adoption Program. As this pet goes through the shelter processes, medical and behavior information are updated here! They may become specially promoted for Events or our Adoptions Programs, or may require transfer through our Love Local ProgramTo view our list of adoptable animals, please visit http://www.acctphilly.org/adopt/.To learn more about our Love Local Program, please visit http://www.acctphilly.org/programs/lovelocal/.Is this your missing pet? If you believe so, please make sure to follow the instructions listed at http://www.acctphilly.org/lostpet/ so that we can make sure that you are reunited as soon as possible! as more information is known.We are the Animal Control facility for Philadelphia, and we are open for adoption, foster and rescue placement Monday through Friday from 1pm to 7pm, Weekends and Holidays from 10 am to 5pm.
['!!!', '!!!This', '10', '111', '1pm', '5pm', '7pm', 'ACCT', 'Adoption', 'Adoptions', 'Animal', 'As', 'Avenue', 'Control', 'Events', 'Friday', 'Holidays', 'Hunting', 'If', 'Local', 'Located', 'Love', 'Monday', 'PA', 'Park', 'Philadelphia', 'Philadelphia', 'Philly', "Philly's", 'Program', 'Program', 'ProgramTo', 'Programs', 'They', 'W', 'Weekends', 'about', 'adoptable', 'adoption', 'am', 'and', 'animal', 'animals', 'are', 'as', 'at', 'available', 'be', 'become', 'behavior', 'believe', 'can', 'facility', 'follow', 'for', 'foster', 'from', 'goes', 'here!', 'http://www.acctphilly.org/adopt/.To', 'http://www.acctphilly.org/lostpet/', 'http://www.acctphilly.org/programs/lovelocal/.Is', 'information', 'instructions', 'is', 'known.We', 'learn', 'list', 'listed', 'make', 'may', 'medical', 'missing', 'more', 'of', 'open', 'or', 'our', 'pet', 'pet?', 'placement', 'please', 'possible!', 'processes', 'promoted', 'require', 'rescue', 'reunited', 'shelter', 'so', 'so', 'soon', 'specially', 'sure', 'that', 'the', 'this', 'through', 'to', 'transfer', 'updated', 'view', 'visit', 'we', 'you', 'your']

In [65]:
(46040566, 46023195)

(46040566, 46023195)

In [66]:
for e in l:
    print(e)

(46040566, 46023195)
(46040566, 45989613)
(46040566, 45980696)
(46040566, 45973853)
(46040566, 45971972)
(46040566, 45919237)
(46040566, 45906293)
(46040566, 45900136)
(46040566, 45881305)
(46040566, 45840373)
(46023195, 45989613)
(46023195, 45980696)
(46023195, 45973853)
(46023195, 45971972)
(46023195, 45919237)
(46023195, 45906293)
(46023195, 45900136)
(46023195, 45881305)
(46023195, 45840373)
(45989613, 45980696)
(45989613, 45973853)
(45989613, 45971972)
(45989613, 45919237)
(45989613, 45906293)
(45989613, 45900136)
(45989613, 45881305)
(45989613, 45840373)
(45980696, 45973853)
(45980696, 45971972)
(45980696, 45919237)
(45980696, 45906293)
(45980696, 45900136)
(45980696, 45881305)
(45980696, 45840373)
(45973853, 45971972)
(45973853, 45919237)
(45973853, 45906293)
(45973853, 45900136)
(45973853, 45881305)
(45973853, 45840373)
(45971972, 45919237)
(45971972, 45906293)
(45971972, 45900136)
(45971972, 45881305)
(45971972, 45840373)
(45919237, 45906293)
(45919237, 45900136)
(45919237, 45881305)
(45919237, 45840373)
(45906293, 45900136)
(45906293, 45840373)
(45900136, 45881305)
(45900136, 45840373)
(45881305, 45840373)
(45912049, 45912050)
(45912049, 45912052)
(45912049, 45871844)
(45912049, 45871841)
(45912050, 45912052)
(45912050, 45871844)
(45912050, 45871841)
(45912052, 45871844)
(45912052, 45871841)
(45871844, 45871841)
(45970418, 45858501)
(45970418, 45858489)
(45970418, 45823212)
(45970418, 45823197)
(45858501, 45858489)
(45858501, 45823212)
(45858501, 45823197)
(45858489, 45823212)
(45858489, 45823197)
(45823212, 45823197)
(46022415, 46012492)
(45923586, 45923565)
(45838138, 45838111)
(45796159, 45639512)
(46024600, 45963580)
(46024600, 45733561)
(45963580, 45733561)
(46033027, 46032402)
(46033027, 46020625)
(46033027, 46020624)
(46033027, 46020627)
(46033027, 45987293)
(46033027, 45981523)
(46033027, 45962189)
(46033027, 45956328)
(46033027, 45921326)
(46032402, 46020625)
(46032402, 46020624)
(46032402, 46020627)
(46032402, 45987293)
(46032402, 45981523)
(46032402, 45962189)
(46032402, 45956328)
(46032402, 45921326)
(46020625, 46020624)
(46020625, 46020627)
(46020625, 45987293)
(46020625, 45981523)
(46020625, 45962189)
(46020625, 45956328)
(46020625, 45921326)
(46020624, 46020627)
(46020624, 45987293)
(46020624, 45981523)
(46020624, 45962189)
(46020624, 45956328)
(46020624, 45921326)
(46020627, 45987293)
(46020627, 45981523)
(46020627, 45962189)
(46020627, 45956328)
(46020627, 45921326)
(45987293, 45981523)
(45987293, 45962189)
(45987293, 45956328)
(45987293, 45921326)
(45981523, 45962189)
(45981523, 45956328)
(45981523, 45921326)
(45962189, 45956328)
(45962189, 45921326)
(45956328, 45921326)
(45912045, 45912046)
(45912045, 45912053)
(45912045, 45912054)
(45912046, 45912053)
(45912046, 45912054)
(45912053, 45912054)
(45188874, 45188309)
(45799255, 45799254)
(46033174, 45788576)
(46033174, 45450382)
(46033174, 45445756)
(46033174, 45445757)
(45788576, 45450382)
(45788576, 45445756)
(45788576, 45445757)
(45450382, 45445756)
(45450382, 45445757)
(45445756, 45445757)
(45820378, 45820429)
(45914976, 45914975)
(45788362, 45788237)
(45788362, 45788153)
(45788362, 45788139)
(45788362, 45788054)
(45788362, 45778941)
(45788237, 45788153)
(45788237, 45788139)
(45788237, 45788054)
(45788237, 45778941)
(45788153, 45788139)
(45788153, 45788054)
(45788153, 45778941)
(45788139, 45788054)
(45788139, 45778941)
(45788054, 45778941)
(45788216, 45778819)
(46025304, 40230942)
(45525100, 45525094)
(45807783, 45807792)
(45887971, 45887961)
(45887971, 45887950)
(45887961, 45887950)
(46014103, 46014105)
(46014103, 46014104)
(46014105, 46014104)
(45789535, 45789536)
(46022947, 46021150)
(46019465, 45800396)
(46037850, 45882733)
(45801842, 45801850)
(45940519, 45940501)
(45940519, 45940266)
(45940519, 45940220)
(45940501, 45940266)
(45940501, 45940220)
(45940266, 45940220)
(45768251, 45768248)
(45905209, 45905207)
(45182449, 45174934)
(45182449, 45174921)
(45384574, 45384580)
(45717652, 45717641)
(45521864, 45521701)
(45174934, 45174921)
(40568901, 40568893)
(39409275, 39409092)
(45964140, 45964112)
(45964140, 45964099)
(45964112, 45964099)
(45956415, 45956106)
(45904433, 45579896)
(45579896, 45579897)
(45613844, 45613978)
(45905205, 45905206)
(45905205, 45896993)
(45905205, 45896987)
(45905205, 45896989)
(45905206, 45896993)
(45905206, 45896987)
(45905206, 45896989)
(45896993, 45896987)
(45896993, 45896989)
(45896987, 45896989)
(46015571, 46015574)
(46015571, 46015573)
(46015571, 46015572)
(46015574, 46015573)
(46015574, 46015572)
(46015573, 46015572)
(45861182, 45846068)
(45861182, 45846062)
(45846068, 45846062)
(45601674, 45601636)
(45601674, 45601618)
(45601636, 45601618)
(46040506, 46040499)
(46040506, 46010688)
(46040506, 46010637)
(46040499, 46010688)
(46040499, 46010637)
(46010688, 46010637)
(44805862, 44805844)
(44805862, 44805839)
(44805844, 44805839)
(45924226, 45924220)
(46006377, 45895436)
(46006377, 45895403)
(45895436, 45895403)
(45578504, 45578440)
(45578504, 45578378)
(45578440, 45578378)
(45938590, 45938589)
(45938590, 45938574)
(45938589, 45938574)
(45874470, 45874469)
(46037425, 46020465)
(45929890, 45929889)
(45929890, 45929881)
(45929890, 45875417)
(45929889, 45929881)
(45929889, 45875417)
(45929881, 45875417)
(45970417, 45823213)
(45970417, 45823211)
(45823213, 45823211)
(45983741, 45983727)
(45983741, 45983696)
(45983741, 45983677)
(45983727, 45983696)
(45983727, 45983677)
(45983696, 45983677)
(38323312, 26334883)
(38308129, 34531585)
(38447591, 35596656)
(45571287, 45571242)
(45571287, 45570936)
(45979528, 45979525)
(45571242, 45570936)
(45955650, 45955638)
(45955650, 45955633)
(45955638, 45955633)
(44815214, 44815165)
(44815214, 44814855)
(44815165, 44814855)
(46040139, 46040125)
(46040139, 46040136)
(46040125, 46040136)
(45484100, 45484099)
(45921878, 45921862)
(45921878, 45921817)
(45921862, 45921817)
(45911140, 45911133)
(45911140, 45911125)
(45911140, 45911112)
(45911133, 45911125)
(45911133, 45911112)
(45911125, 45911112)
(44991189, 44991193)
(38598398, 18945953)
(45851946, 45851313)
(45697212, 45696915)
(46028329, 45985438)
(45906745, 45906445)
(45906745, 45906397)
(45906445, 45906397)
(45766362, 45766287)
(45912004, 45886399)
(45912004, 45027431)
(45886399, 45027431)
(45774714, 45774709)
(46038492, 46038535)
(46021542, 46021529)
(45831371, 45831331)
(45896878, 45896880)
(45896878, 45885169)
(45896880, 45885169)
(46033113, 46033112)
(46033113, 46033114)
(46033112, 46033114)
(45816905, 45816915)
(45816905, 45816933)
(45816905, 45816934)
(45816915, 45816933)
(45816915, 45816934)
(45816933, 45816934)
(43156123, 43156211)
(37794968, 37794964)
(45942444, 45942427)
(45942444, 45942374)
(45942427, 45942374)
(45906349, 45906322)
(45766360, 45766364)
(45979145, 45979143)
(45979145, 45979121)
(45979145, 45979060)
(45979143, 45979121)
(45979143, 45979060)
(45979121, 45979060)
(44925927, 44925831)
(45621926, 45621927)
(45596728, 45583580)
(45596728, 45596351)
(45596728, 45583504)
(45596728, 45596342)
(45596728, 45583450)
(45583580, 45596351)
(45583580, 45583504)
(45583580, 45596342)
(45583580, 45583450)
(45983716, 45983714)
(45596351, 45583504)
(45596351, 45596342)
(45596351, 45583450)
(45583504, 45596342)
(45583504, 45583450)
(45554172, 45554124)
(45596342, 45583450)
(45974971, 45873059)
(45873994, 45678739)
(46040122, 46040131)
(46040122, 46040138)
(46040122, 46040130)
(46040122, 46040137)
(46040131, 46040138)
(46040131, 46040130)
(46040131, 46040137)
(46040138, 46040130)
(46040138, 46040137)
(46040130, 46040137)
(45806320, 45806322)
(45806320, 45806321)
(45806322, 45806321)
(45911233, 45911180)
(45911233, 45911175)
(45911180, 45911175)
(45604710, 45604702)
(45831402, 45831366)
(45823144, 45823146)
(45277687, 45277667)
(45765704, 45765703)
(45765704, 45765701)
(45765703, 45765701)
(44680134, 44680135)
(46005452, 46005422)
(45959307, 45959310)
(45959307, 45959312)
(45959307, 45947454)
(45959310, 45959312)
(45959310, 45947454)
(45959312, 45947454)
(46022997, 46018959)
(45838227, 45838196)
(45038425, 45037504)
(45965606, 45964752)
(45942459, 45942311)
(45942459, 45942234)
(45956484, 45956365)
(45942254, 45942252)
(45942254, 45942242)
(45942254, 45942226)
(45942254, 45942211)
(45942252, 45942242)
(45942252, 45942226)
(45942252, 45942211)
(45942242, 45942226)
(45942242, 45942211)
(45942226, 45942211)
(45713370, 45980381)
(45713370, 45980363)
(45496570, 45496523)
(45942311, 45942234)
(46009769, 46009644)
(46009769, 46006007)
(46009644, 46006056)
(46009644, 46006007)
(46006081, 46006056)
(46006056, 46006007)
(45627251, 45626155)
(45980381, 45980363)
(46040124, 45978662)
(45934441, 45934366)
(45942135, 45942085)
(41469511, 41469289)
(33704637, 33704632)
(45833873, 45833853)
(45743606, 45743583)
(37528714, 37458331)
(45341851, 45333832)
(46033116, 46033117)
(45990842, 45990836)
(45990842, 45990813)
(45990836, 45990813)
(45704612, 45698944)
(46033535, 46033534)
(46033535, 46033532)
(46033535, 46033531)
(46033535, 46033530)
(46033535, 46033533)
(46033534, 46033532)
(46033534, 46033531)
(46033534, 46033530)
(46033534, 46033533)
(46033532, 46033531)
(46033532, 46033530)
(46033532, 46033533)
(46033531, 46033530)
(46033531, 46033533)
(46033530, 46033533)
(45929782, 45929726)
(44914912, 44914837)
(45790474, 45250111)
(44351986, 44351980)
(44351986, 44351981)
(44351986, 39877896)
(44351980, 44351981)
(45753543, 45753644)
(45601608, 45601590)
(45612351, 44682489)
(46036810, 46036768)
(46036810, 46015289)
(46036768, 46015289)
(37795059, 37795057)
(45946873, 45946816)
(45633840, 43477359)
(45934839, 45934830)
(45105047, 45090568)
(45105047, 45090373)
(38184219, 38184218)
(45090568, 45090373)
(45735025, 45734955)
(45735025, 45734907)
(45734955, 45734907)
(45887942, 45843398)
(45887942, 45715374)
(45887942, 43438831)
(45843398, 45715374)
(45843398, 43438831)
(45715374, 43438831)
(45978298, 45978292)
(45494936, 45041064)
(45734891, 45734834)
(45734891, 45734825)
(45734834, 45734825)
(45794028, 45793926)
(44977541, 46007783)
(36509038, 33635810)
(45554169, 45554165)
(45916205, 45915165)
(45916205, 45915008)
(45915165, 45915008)
(45988964, 45988966)
(45650674, 44397546)
(45301676, 44696946)
(41553046, 41553516)
(45918916, 45917957)
(24695363, 24693691)
(38308175, 37568993)
(45910130, 45910118)
(45948825, 45948797)
(45948825, 46011273)
(45948825, 46011178)
(45948797, 46011273)
(45948797, 46011178)
(45948795, 46011172)
(46011273, 46011178)
(45792436, 45792434)
(45792436, 45792432)
(45792434, 45792432)
(45858490, 45823187)
(46022595, 46022598)
(46005148, 30508973)
(45954311, 45929884)
(45954311, 45929885)
(45954311, 45929887)
(45954311, 45929891)
(45954311, 45929192)
(45929884, 45929885)
(45929884, 45929887)
(45929884, 45929891)
(45929884, 45929192)
(45929885, 45929887)
(45929885, 45929891)
(45929885, 45929192)
(45929887, 45929891)
(45929887, 45929192)
(45929891, 45929192)
(45885331, 45823226)
(45885331, 45823195)
(45885331, 45823185)
(45823226, 45823195)
(45823226, 45823185)
(45823195, 45823185)
(45668362, 45668359)
(45668362, 45668358)
(45668359, 45668358)
(38101306, 38101301)
(38101306, 38101299)
(38101301, 38101299)
(46034284, 45893444)
(45961647, 45961565)
(45961647, 45961158)
(45985136, 45948821)
(45985136, 45948800)
(45985136, 46011225)
(45985136, 46011205)
(45948822, 45948800)
(45948822, 45948751)
(45948822, 46011240)
(45948822, 46011205)
(45948822, 46011165)
(45948821, 45948800)
(45948821, 46011225)
(45948821, 46011205)
(45948800, 46011225)
(45948800, 46011205)
(45948751, 46011240)
(45948751, 46011225)
(45948751, 46011205)
(45948751, 46011165)
(46011240, 46011205)
(46011240, 46011165)
(46011225, 46011205)
(46012054, 46011509)
(45493361, 45742221)
(45493361, 45742210)
(45946390, 45946352)
(45978261, 45978259)
(45742221, 45742210)
(45678732, 45678678)
(38294746, 38294747)
(38294745, 38294747)
(46017445, 46017443)
(45257329, 44635976)
(45796951, 45786787)
(45823073, 45823023)
(45877991, 45877978)
(45877991, 45877972)
(45877991, 45877953)
(45877978, 45877972)
(45877978, 45877953)
(45877972, 45877953)
(45930514, 45930289)
(45777851, 45777830)
(45777851, 45777759)
(45777830, 45777759)
(38101294, 37795055)
(38101294, 37490861)
(45961612, 45961507)
(45436574, 45436576)
(45734880, 45734691)
(45712106, 45712066)
(45712106, 45711639)
(45712066, 45711639)
(45976939, 45976893)
(45769224, 45671146)
(43819592, 43819626)
(45733110, 45732409)
(45765784, 45765785)
(45765784, 45765706)
(45765784, 45765705)
(45765785, 45765706)
(45765785, 45765705)
(45765706, 45765705)
(45942794, 45942792)
(45182452, 45175036)
(45182452, 45175024)
(45175036, 45175024)
(45910183, 45910171)
(45854559, 45854557)
(45810963, 45810931)
(45810963, 45810975)
(45810931, 45810975)
(46015658, 46015636)
(46015154, 45907356)
(46015154, 45907358)
(45907356, 45907358)
(45823124, 45823161)
(45726513, 45726017)
(38447570, 33715408)
(45758856, 45758829)
(45569788, 45569541)
(45509606, 45509469)
(46010376, 46010357)
(45747619, 45191670)
(45916456, 45916450)
(45916456, 45916444)
(45916456, 45916438)
(45916456, 45916436)
(45916456, 45916426)
(45916450, 45916444)
(45916450, 45916438)
(45916450, 45916436)
(45916450, 45916426)
(45916444, 45916438)
(45916444, 45916436)
(45916444, 45916426)
(45916438, 45916436)
(45916438, 45916426)
(45916436, 45916426)
(44991147, 44991151)
(45983503, 45919601)
(46039173, 46039171)
(44951332, 44951304)
(46011730, 45968032)
(44386496, 44386456)
(46041976, 46009243)
(46041976, 45899384)
(46041976, 45860586)
(46041976, 45859900)
(46009243, 45899384)
(46009243, 45860586)
(46009243, 45859900)
(45899384, 45860586)
(45899384, 45859900)
(45860586, 45859900)
(45168511, 45161580)
(45168511, 45161364)
(45161580, 45161364)
(46015671, 46015633)
(46015671, 46015626)
(46015671, 46015441)
(46015633, 46015626)
(46015633, 46015441)
(46015626, 46015441)
(45907736, 45907357)
(45907736, 45907355)
(45907357, 45907355)
(45807746, 45807778)
(45886372, 45886367)
(45886372, 45886341)
(46023642, 46023606)
(41303812, 41303385)
(37539135, 37539122)
(45886367, 45886341)
(44204368, 44204202)
(46018260, 46018257)
(46023785, 46023776)
(45816902, 45816903)
(45158804, 45157825)
(46019476, 45929235)
(45966160, 45965433)
(45966160, 45940419)
(45966160, 45940417)
(45966160, 45888887)
(45965433, 45940419)
(45965433, 45940417)
(45965433, 45888887)
(45940419, 45940417)
(45940419, 45888887)
(45940417, 45888887)
(46025249, 45419561)
(45891118, 45270764)
(45814396, 45814356)
(46014068, 46014001)
(45956454, 45956440)
(45711587, 45711576)
(45705154, 45705153)
(45986379, 45986367)
(45986379, 45986335)
(45986379, 45986230)
(45986367, 45986335)
(45986367, 45986230)
(45986335, 45986230)
(45852591, 45852550)
(45627296, 45627275)
(46009514, 46008334)
(46040132, 46040133)
(46040132, 46040135)
(46040132, 46040134)
(46040132, 46040128)
(46040132, 46040127)
(46040132, 45978663)
(46040133, 46040135)
(46040133, 46040134)
(46040133, 46040128)
(46040133, 46040127)
(46040133, 45978663)
(46040135, 46040134)
(46040135, 46040128)
(46040135, 46040127)
(46040135, 45978663)
(46040134, 46040128)
(46040134, 46040127)
(46040134, 45978663)
(46040128, 46040127)
(46040128, 45978663)
(46040127, 45978663)
(45979119, 45978906)
(45979119, 45978907)
(45979119, 45978878)
(45978906, 45978907)
(45978906, 45978878)
(45978907, 45978878)
(45974505, 45974479)
(45816925, 45816932)
(45501584, 45501566)
(45501584, 45501542)
(45501566, 45501542)
(45599084, 45594159)
(46019164, 46019155)
(46019164, 46019140)
(46019164, 46019129)
(46019164, 46019109)
(46019155, 46019140)
(46019155, 46019129)
(46019155, 46019109)
(46019140, 46019129)
(46019140, 46019109)
(46019129, 46019109)
(45881059, 45881014)
(45962008, 45961749)
(45959940, 45959939)
(45966071, 45965776)
(45505339, 45505302)
(41010932, 41010864)
(46009248, 45940418)
(46009248, 45860587)
(46009248, 45859898)
(46009248, 45798168)
(46009248, 44950525)
(45940418, 45860587)
(45940418, 45859898)
(45940418, 45798168)
(45940418, 44950525)
(45860587, 45859898)
(45860587, 45798168)
(45860587, 44950525)
(45859898, 45798168)
(45859898, 44950525)
(45798168, 44950525)
(45986231, 45930002)
(45986231, 45929999)
(45930002, 45929999)
(46035038, 46035032)
(45758607, 45758590)
(45554432, 45554252)
(45960926, 45960816)
(45867668, 45867663)
(45867668, 45867649)

(45867668, 45867628)
(45867668, 45867627)
(45867663, 45867649)
(45867663, 45867628)
(45867663, 45867627)
(45867649, 45867628)
(45867649, 45867627)
(45867628, 45867627)
(44797887, 44797875)
(40971365, 40970940)
(45670751, 45665082)
(45340773, 45340766)
(32706108, 32706003)
(45816906, 45816913)
(44863232, 44519370)
(44863232, 43945211)
(44519370, 43945211)
(46019688, 46019685)
(46019688, 46019666)
(46019688, 45929212)
(46019685, 46019666)
(46019685, 45929212)
(46019666, 45929212)
(35303974, 35303855)
(46029091, 46029090)
(40632464, 40580131)
(45860103, 45860063)
(45087088, 45087096)
(44991275, 44991279)
(45831358, 45831428)
(45763681, 45763680)
(45763681, 45763677)
(45763681, 45763678)
(45763681, 45763676)
(45763680, 45763677)
(45763680, 45763678)
(45763680, 45763676)
(45763677, 45763678)
(45763677, 45763676)
(45763678, 45763676)
(44846619, 44846611)
(46002010, 46000668)
(45969218, 45969205)
(45264206, 45264202)
(45886232, 45886201)
(45864238, 45864102)
(45852503, 45852474)
(45851317, 45851302)
(45210244, 45210229)
(45664622, 45664578)
(45744591, 45743752)
(45711640, 45711609)
(45788263, 45752255)
(46013592, 46013532)
(45687691, 45687689)
(45724271, 45724223)
(45735981, 45735782)
(45735981, 45735578)
(45735782, 45735578)
(45295935, 45295923)
(45938583, 45938587)
(45564754, 45564738)
(45564754, 45564338)
(45564738, 45564338)
(34973159, 34933277)
(46009940, 46009939)
(45958024, 45957955)
(45954990, 45954989)
(45954990, 45954993)
(45954990, 45954994)
(45954989, 45954993)
(45954989, 45954994)
(45954993, 45954994)
(45794951, 45794952)
(45844216, 45844189)
(45403745, 45396391)
(45403745, 45396387)
(45396391, 45396387)
(46005519, 46005473)
(46005519, 46005456)
(46005519, 46005439)
(46005473, 46005456)
(46005473, 46005439)
(46005456, 46005439)
(45630135, 45629697)
(45630135, 45629667)
(45629697, 45629667)
(45295174, 45295090)
(45983350, 45983342)
(45300758, 45300755)
(45831312, 45831443)
(37139483, 37139489)
(45910820, 45910807)
(45389196, 45389189)
(44760792, 44580857)
(44887700, 44887689)
(44887700, 44887674)
(44887700, 44886550)
(44887700, 44886404)
(44887700, 44884549)
(44887700, 44883909)
(44887689, 44887674)
(44887689, 44886550)
(44887689, 44886404)
(44887689, 44884549)
(44887689, 44883909)
(44887674, 44886550)
(44887674, 44886404)
(44887674, 44884549)
(44887674, 44883909)
(44886550, 44886404)
(44886550, 44884549)
(44886550, 44883909)
(44886404, 44884549)
(44886404, 44883909)
(44884549, 44883909)
(46029092, 46029095)
(46029092, 46029093)
(46029092, 45978295)
(46029095, 46029093)
(46029095, 45978295)
(46029093, 45978295)
(45770723, 45770708)
(45770723, 45770606)
(45770708, 45770606)
(45962972, 45962827)
(45962972, 45962818)
(45962972, 45962523)
(45962827, 45962818)
(45962827, 45962523)
(45962818, 45962523)
(45209938, 45209832)
(45861240, 45846039)
(45912673, 45912675)
(46029166, 46029167)
(46029166, 46029168)
(46029167, 46029168)
(45783172, 45752947)
(45681255, 45681217)
(45871533, 45871531)
(45871533, 45871536)
(45871531, 45871536)
(45773921, 45773919)
(45831439, 45831382)
(43143426, 43143189)
(45989402, 45989332)
(45778703, 45778692)
(45778703, 45778677)
(45778692, 45778677)
(46030173, 46008239)
(46030173, 46008237)
(46030173, 46008238)
(46008239, 46008237)
(46008239, 46008238)
(46008237, 46008238)
(45877963, 45877917)
(45930380, 45930302)
(46021361, 46021331)
(46021361, 46021276)
(46021331, 46021276)
(45948352, 45810960)
(45933612, 45933565)
(45554240, 45554209)
(46026870, 46026859)
(45831450, 45831333)
(45096065, 45096064)
(45934294, 45934291)
(45938580, 45938581)
(40542625, 40541775)
(46004914, 46004225)
(45853199, 45853195)
(45346674, 45343052)
(45979649, 44868715)
(46008045, 46008044)
(45964055, 45964047)
(45855325, 45855081)
(45855325, 45721873)
(45855081, 45721873)
(46030172, 46008315)
(46015126, 46013763)
(46033075, 45967528)
(46033075, 45967500)
(46033075, 45967489)
(45967528, 45967500)
(45967528, 45967489)
(45967500, 45967489)
(45818577, 45818583)
(45964167, 43684033)
(45956450, 45956439)
(45956450, 45956433)
(45956439, 45956433)
(40924426, 40924416)
(45904434, 45904418)
(45966540, 45966530)
(46018244, 46018233)
(46018244, 46018207)
(46018244, 46018203)
(46018244, 46018202)
(46018244, 46018200)
(46018233, 46018207)
(46018233, 46018203)
(46018233, 46018202)
(46018233, 46018200)
(46018207, 46018203)
(46018207, 46018202)
(46018207, 46018200)
(46018203, 46018202)
(46018203, 46018200)
(46018202, 46018200)
(45833235, 45833221)
(46037706, 46037440)
(38308140, 35614056)
(46018205, 46018206)
(46018205, 46018204)
(46018205, 46018201)
(46018205, 46018198)
(46018205, 46018199)
(46018206, 46018204)
(46018206, 46018201)
(46018206, 46018198)
(46018206, 46018199)
(46018204, 46018201)
(46018204, 46018198)
(46018204, 46018199)
(46018201, 46018198)
(46018201, 46018199)
(46018198, 46018199)
(45927193, 45927031)
(45927193, 45926679)
(45927031, 45926679)
(45935188, 45935186)
(45734053, 45733814)
(45203893, 45203894)
(45639449, 45639446)
(45534546, 45534516)
(45612428, 45612409)
(44742288, 44742234)
(45782430, 45782390)
(46016383, 46016377)
(46016383, 46016371)
(46016383, 46016340)
(46016377, 46016371)
(46016377, 46016340)
(46016371, 46016340)
(45856839, 45856820)
(45934672, 45934653)
(45934672, 45934311)
(45934653, 45934311)
(45734056, 45733881)
(45734056, 45733878)
(45733881, 45733878)
(44425828, 44425818)
(45858743, 45858734)
(46037741, 46037739)
(46037741, 45770533)
(46037739, 45770533)
(45927575, 45927558)
(45927575, 45927121)
(45927558, 45927121)
(45905681, 45880818)
(45934306, 45934126)
(45934306, 45917068)
(45934126, 45917068)
(45859938, 45859930)
(45859938, 45859780)
(45859930, 45859780)
(46019061, 46018965)
(46005994, 46005995)
(46005994, 46005906)
(46005995, 46005906)
(45952641, 45952550)
(38447590, 35234154)
(45768921, 45768927)
(45939033, 45938951)
(45794543, 45794538)
(45814322, 45814366)
(45814322, 45814385)
(45814322, 45814397)
(45814366, 45814385)
(45814366, 45814397)
(45814385, 45814397)
(45904049, 45904035)
(45904049, 45904001)
(45904035, 45904001)
(46037027, 46037026)
(44921271, 44921272)
(45699897, 45699859)
(45849591, 45849546)
(45786702, 45047173)
(45867155, 45867152)
(45954992, 45954991)
(45954991, 45954988)
(46010384, 45963042)
(45502376, 45502346)
(44990542, 44990561)
(45639670, 45623161)
(45985249, 45985133)
(46042211, 46042214)
(46042211, 46042212)
(46042214, 46042212)
(46021535, 46021378)
(45836122, 45836125)
(45923729, 45923714)
(45251495, 42906237)
(46009941, 46009743)
(46009941, 46009745)
(46009941, 46009744)
(46009743, 46009745)
(46009743, 46009744)
(46009745, 46009744)
(45988470, 45988473)
(45988470, 45988474)
(45988470, 45988471)
(45988473, 45988474)
(45988473, 45988471)
(45988474, 45988471)
(44708814, 44708743)
(45470706, 45470688)
(45326869, 45326867)
(45326869, 45326858)
(45326867, 45326858)
(40813191, 40813165)
(46034352, 46034335)
(44735092, 44735089)
(44735092, 44735087)
(44735092, 44735080)
(44735092, 44735074)
(44735089, 44735087)
(44735089, 44735080)
(44735089, 44735074)
(44735087, 44735080)
(44735087, 44735074)
(44735080, 44735074)
(45962317, 45962209)
(45983715, 45983713)
(46021329, 46021326)
(46021329, 46021313)
(46021326, 46021313)
(46020310, 46020297)
(46020310, 46019910)
(46020310, 46019809)
(46020297, 46019910)
(46020297, 46019809)
(46019910, 46019809)
(45933912, 45853291)
(45910129, 45551861)
(45970931, 45970920)
(45970931, 45970905)
(45970931, 45970881)
(45970920, 45970905)
(45970920, 45970881)
(45970905, 45970881)
(45990440, 45990974)
(45990440, 45990956)
(45990974, 45990956)
(45916417, 45916383)
(45916417, 45916344)
(45916383, 45916344)
(45831430, 45831368)
(45976477, 45892748)
(45964450, 45964408)
(45934301, 45934255)
(45934301, 45934113)
(45934255, 45934113)
(45926651, 45926059)
(45926651, 45925888)
(45926059, 45925888)
(46031254, 46031232)
(45930109, 45930077)
(45970273, 45970271)
(45921408, 45921407)
(45952887, 45952885)
(45759589, 45759569)
(45759589, 45759539)
(45759569, 45759539)
(45914927, 45914924)
(45801752, 45801763)
(45912725, 45912727)
(45912725, 45912722)
(45912725, 45912724)
(45912727, 45912722)
(45912727, 45912724)
(45912722, 45912724)
(45793068, 45793054)
(45786829, 45787036)
(45766202, 45764093)
(45737510, 45737478)
(45687676, 45687669)
(45831323, 45831426)
(45923728, 45923732)
(45135607, 45135608)
(45966442, 45966411)
(45966442, 45966397)
(45966442, 45964045)
(45966411, 45966397)
(45966411, 45964045)
(45966397, 45964045)
(45986809, 45986684)
(45986809, 45986541)
(45986684, 45986541)
(45965607, 45965605)
(45965607, 45965492)
(45965605, 45965492)
(46029163, 46029165)
(46029163, 46029169)
(46029165, 46029169)
(45362107, 44915186)
(45628311, 45628234)
(45942795, 45942796)
(45942795, 45942793)
(45942796, 45942793)
(45831383, 45831398)
(45917595, 45916942)
(45917595, 45916915)
(45917595, 45916874)
(45917595, 45916840)
(45917595, 45916792)
(45917595, 45916683)
(45916942, 45916915)
(45916942, 45916874)
(45916942, 45916840)
(45916942, 45916792)
(45916942, 45916683)
(45916915, 45916874)
(45916915, 45916840)
(45916915, 45916792)
(45916915, 45916683)
(45916874, 45916840)
(45916874, 45916792)
(45916874, 45916683)
(45916840, 45916792)
(45916840, 45916683)
(45916792, 45916683)
(46037098, 46037054)
(46037098, 46036839)
(46037054, 46036839)
(45599412, 45599382)
(43819633, 43819654)
(45821439, 45821449)
(45831399, 45831343)
(45952075, 45951803)
(46036308, 46041704)
(46015853, 45594932)
(45980962, 45987713)
(42261971, 42261951)
(45783127, 45752993)
(45905408, 45904914)
(45774791, 45774734)
(45774791, 45774721)
(45774734, 45774721)
(45831420, 45831338)
(45831427, 45831360)
(45960448, 45960429)
(45628201, 45628106)
(44846393, 44846358)
(46028535, 46028534)
(39583427, 37521566)
(46019069, 46019065)
(46041816, 46041795)
(45750404, 45154267)
(45989256, 45989233)
(45979092, 45979094)
(45979092, 45979101)
(45979092, 45979098)
(45979094, 45979101)
(45979094, 45979098)
(45979101, 45979098)
(46026750, 46026749)
(46026750, 46026748)
(46026749, 46026748)
(45917008, 45916978)
(45917008, 45916901)
(45916978, 45916901)
(45582703, 45582673)
(45932359, 45932317)
(45932359, 45932138)
(45932359, 45932104)
(45932359, 45931760)
(45932359, 45931720)
(45932359, 45931696)
(45932359, 45931670)
(45932359, 45931656)
(45932359, 45931611)
(45932359, 45931579)
(45932359, 45931524)
(45932317, 45932138)
(45932317, 45932104)
(45932317, 45931760)
(45932317, 45931720)
(45932317, 45931696)
(45932317, 45931670)
(45932317, 45931656)
(45932317, 45931611)
(45932317, 45931579)
(45932317, 45931524)
(45932138, 45932104)
(45932138, 45931760)
(45932138, 45931720)
(45932138, 45931696)
(45932138, 45931670)
(45932138, 45931656)
(45932138, 45931611)
(45932138, 45931579)
(45932138, 45931524)
(45932104, 45931760)
(45932104, 45931720)
(45932104, 45931696)
(45932104, 45931670)
(45932104, 45931656)
(45932104, 45931611)
(45932104, 45931579)
(45932104, 45931524)
(45931760, 45931720)
(45931760, 45931696)
(45931760, 45931670)
(45931760, 45931656)
(45931760, 45931611)
(45931760, 45931579)
(45931760, 45931524)
(45931720, 45931696)
(45931720, 45931670)
(45931720, 45931656)
(45931720, 45931611)
(45931720, 45931579)
(45931720, 45931524)
(45931696, 45931670)
(45931696, 45931656)
(45931696, 45931611)
(45931696, 45931579)
(45931696, 45931524)
(45931670, 45931656)
(45931670, 45931611)
(45931670, 45931579)
(45931670, 45931524)
(45931656, 45931611)
(45931656, 45931579)
(45931656, 45931524)
(45931611, 45931579)
(45931611, 45931524)
(45931579, 45931524)
(38278644, 21695808)
(46026846, 46026817)
(46026846, 46026751)
(46026817, 46026751)
(41442632, 41442637)
(41442632, 41442644)
(41442632, 41442591)
(41442637, 41442644)
(41442637, 41442591)
(41442644, 41442591)
(46029858, 45708071)
(45980507, 45980419)
(42964273, 42964253)
(45856708, 45856692)
(45856708, 45856530)
(45856692, 45856530)
(46039979, 46039982)
(45981637, 45981631)
(45935426, 45935400)
(45743712, 45743663)
(46021151, 46021126)
(46021151, 46021122)
(46021151, 46021117)
(46021126, 46021122)
(46021126, 46021117)
(46021122, 46021117)
(38779404, 38779405)
(45875850, 45634379)
(45875850, 45634374)
(45634379, 45634374)
(45623307, 44133946)
(45190921, 45190920)
(45919310, 45919267)
(45802625, 45802623)
(46006396, 46006394)
(46006396, 45903782)
(46006396, 45903783)
(46006396, 45903780)
(46006396, 45903719)
(46006396, 45486819)
(46006394, 45903782)
(46006394, 45903783)
(46006394, 45903780)
(46006394, 45903719)
(46006394, 45486819)
(45903782, 45903783)
(45903782, 45903780)
(45903782, 45903719)
(45903782, 45486819)
(45903783, 45903780)
(45903783, 45903719)
(45903783, 45486819)
(45903780, 45903719)
(45903780, 45486819)
(45903719, 45486819)
(45947193, 45947189)

In [67]:
with open(r'lista_OK.txt', 'w') as fp:
    for item in l:
        # write each item on a new line
        fp.write("%s\n" % str(item))
    print('Done')

Done

In [68]:
d[('American Staffordshire Terrier', 'Mixed Breed')]

KeyError: ('American Staffordshire Terrier', 'Mixed Breed')

In [ ]:
len(l)